@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>
<div class="col">
    userId: @clientprincipal.UserId
</div>
<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;
    private SharedLibrary.SystemData.ClientPrincipal? clientprincipal = new();

    protected override async Task OnInitializedAsync()
    {
        clientprincipal = await Http.GetFromJsonAsync<SharedLibrary.SystemData.ClientPrincipal>("/api/clientprincipal");
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("api/weather");

        SharedLibrary.Customer customer = new()
            {
                Name = "Louis",
                LastName = "Ponce",
                Address = "Gatan 1"
            };
        using var httpResponse = await Http.PostAsJsonAsync<SharedLibrary.Customer>("api/customer", customer);
        customer = await httpResponse.Content.ReadFromJsonAsync<SharedLibrary.Customer>();

        await Http.DeleteAsync($"api/customer/{customer.Id}");

        var response = await Http.GetAsync("/api/customer");


        var body = response.Content.ReadAsStringAsync().Result;
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
